# YANG DIPAKE KEMARIN

In [2]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

# Load your dataset
data_path = "HREmployee.csv"
df = pd.read_csv(data_path)
education_mapping = {1: "High School",
                    2: "College",
                    3: "Bachelor",
                    4: "Master",
                    5: "PhD"}

# Mengganti nilai dalam kolom 'Education' berdasarkan mapping yang didapat dari informasi dataset di Kaggle
df['Education'] = df['Education'].map(education_mapping)
df_asli = df.copy()
selected_columns = ['Age', 'Over18', 'Gender', 'MaritalStatus', 'Education',
                    'EducationField', 'NumCompaniesWorked', 'TotalWorkingYears',
                    'Department', 'MonthlyIncome', 'BusinessTravel',
                    'OverTime', 'JobRole']
df_asli = df_asli.loc[:, selected_columns]

df_asli

,Age,Over18,Gender,MaritalStatus,Education,EducationField,NumCompaniesWorked,TotalWorkingYears,Department,MonthlyIncome,BusinessTravel,OverTime,JobRole
0,41,Y,Female,Single,College,Life Sciences,8,8,Sales,5993,Travel_Rarely,Yes,Sales Executive
1,49,Y,Male,Married,High School,Life Sciences,1,10,Research & Development,5130,Travel_Frequently,No,Research Scientist
2,37,Y,Male,Single,College,Other,6,7,Research & Development,2090,Travel_Rarely,Yes,Laboratory Technician
3,33,Y,Female,Married,Master,Life Sciences,1,8,Research & Development,2909,Travel_Frequently,Yes,Research Scientist
4,27,Y,Male,Married,High School,Medical,9,6,Research & Development,3468,Travel_Rarely,No,Laboratory Technician
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,Y,Male,Married,College,Medical,4,17,Research & Development,2571,Travel_Frequently,No,Laboratory Technician
1466,39,Y,Male,Married,High School,Medical,4,9,Research & Development,9991,Travel_Rarely,No,Healthcare Representative
1467,27,Y,Male,Married,Bachelor,Life Sciences,1,6,Research & Development,6142,Travel_Rarely,Yes,Manufacturing Director
1468,49,Y,Male,Married,Bachelor,Medical,2,17,Sales,5390,Travel_Frequently,No,Sales Executive
1469,34,Y,Male,Married,Bachelor,Medical,2,6,Research & Development,4404,Travel_Rarely,No,Laboratory Technician

In [3]:
from sklearn.model_selection import train_test_split


X = df_asli.drop(['JobRole'], axis=1)
y = df_asli['JobRole']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [4]:
# Initialize LabelEncoders for features and target
label_encoders = {}

# Encode categorical columns in the dataframe
for column in X_train.select_dtypes(include=['object']).columns:
    label_encoders[column] = LabelEncoder()
    X_train[column] = label_encoders[column].fit_transform(X_train[column])

for column in X_test.select_dtypes(include=['object']).columns:
    label_encoders[column] = LabelEncoder()
    X_test[column] = label_encoders[column].fit_transform(X_test[column])

In [5]:
X_train

,Age,Over18,Gender,MaritalStatus,Education,EducationField,NumCompaniesWorked,TotalWorkingYears,Department,MonthlyIncome,BusinessTravel,OverTime
714,50,0,1,0,1,3,9,32,1,17399,2,0
135,36,0,1,0,1,3,6,7,1,4941,2,0
1271,21,0,1,2,2,2,1,1,2,2679,2,0
477,50,0,1,1,0,3,1,32,0,18200,1,0
806,52,0,1,2,3,1,7,18,1,10445,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1130,35,0,1,1,0,1,1,10,1,3407,2,0
1294,41,0,1,2,0,1,3,11,1,6870,2,0
860,22,0,1,1,3,1,0,1,1,2853,1,1
1459,29,0,1,1,1,4,4,10,1,4025,2,1
1126,50,0,1,1,0,2,4,27,2,19331,2,1

In [6]:
X_test

,Age,Over18,Gender,MaritalStatus,Education,EducationField,NumCompaniesWorked,TotalWorkingYears,Department,MonthlyIncome,BusinessTravel,OverTime
1041,28,0,1,2,0,3,0,6,2,8463,2,0
184,53,0,0,0,1,3,1,5,1,4450,2,0
1222,24,0,1,1,2,0,1,1,0,1555,2,0
67,45,0,1,0,0,1,2,25,1,9724,2,0
220,36,0,1,2,1,1,8,16,1,5914,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1047,33,0,1,1,0,3,0,5,2,4373,1,0
331,27,0,1,1,2,2,0,6,2,6349,0,1
323,28,0,1,1,3,3,5,5,1,3464,2,1
654,39,0,0,1,0,1,8,13,0,5204,2,0
1110,35,0,0,0,0,1,1,1,1,2074,2,1

In [7]:
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [8]:
from sklearn.metrics import accuracy_score

# Predictions on the test set
predictions = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, predictions)
accuracy

0.6802721088435374

In [15]:
import numpy as np
# Example input data for prediction
new_data = {
    "Nama": "Zidan",
    'Age': 30,
    'Gender': 'Male',
    'MaritalStatus': 'Divorced',
    'Education': "Bachelor",
    'EducationField': 'Medical',
    'NumCompaniesWorked': 1,
    'TotalWorkingYears': 8,
    'Department': 'Research & Development',
    'MonthlyIncome': 10000,
    'BusinessTravel': 'Non-Travel',
    'OverTime': 'Yes'
}

# Create a DataFrame from the input data
new_df = pd.DataFrame([new_data])
new_df = new_df.drop(["Nama"], axis = 1)
new_df['Over18'] = ''  
new_df.loc[new_df['Age'] > 18, 'Over18'] = 'Y'
new_df.insert(new_df.columns.get_loc('Gender'), 'Over18', new_df.pop('Over18'))

# Encode categorical columns in the new data
for column in new_df.select_dtypes(include=['object']).columns:
    new_df[column] = label_encoders[column].transform(new_df[column])

print(new_df)

# Make predictions
predicted_job_role = model.predict(new_df)
prediction = predicted_job_role[0]
print(prediction)

   Age  Over18  Gender  MaritalStatus  Education  EducationField  \
0   30       0       1              0          0               3

   NumCompaniesWorked  TotalWorkingYears  Department  MonthlyIncome  \
0                   1                  8           1          10000

   BusinessTravel  OverTime
0               0         1
Healthcare Representative

In [11]:
import joblib
# Save the trained model to a file
model_filename = 'model3.joblib'
joblib.dump(model, model_filename)

# Save the label encoders to a file
label_encoders_filename = 'encoders3.joblib'
joblib.dump(label_encoders, label_encoders_filename)

['encoders3.joblib']

In [12]:
loaded_model = joblib.load(model_filename)
loaded_model

RandomForestClassifier(random_state=42)

In [13]:
loaded_label_encoders = joblib.load(label_encoders_filename)
loaded_label_encoders

{'Over18': LabelEncoder(),
 'Gender': LabelEncoder(),
 'MaritalStatus': LabelEncoder(),
 'Education': LabelEncoder(),
 'EducationField': LabelEncoder(),
 'Department': LabelEncoder(),
 'BusinessTravel': LabelEncoder(),
 'OverTime': LabelEncoder()}

TRY TO JOBLIB

In [14]:
import pandas as pd
from joblib import load

# Load the saved model
model_filename = 'model3.joblib'  # Replace with your actual path and filename
model = load(model_filename)

# Load label encoders used during training
label_encoders_filename = 'encoders3.joblib'  # Replace with your actual path and filename
label_encoders = load(label_encoders_filename)

# Example input data for prediction
new_data = {
    'Age': 30,
    'Gender': 'Male',
    'MaritalStatus': 'Divorced',
    'Education': "Bachelor",
    'EducationField': 'Medical',
    'NumCompaniesWorked': 1,
    'TotalWorkingYears': 8,
    'Department': 'Research & Development',
    'MonthlyIncome': 10000,
    'BusinessTravel': 'Non-Travel',
    'OverTime': 'Yes'
}

# Create a DataFrame from the input data
new_df = pd.DataFrame([new_data])
new_df['Over18'] = ''  
new_df.loc[new_df['Age'] > 18, 'Over18'] = 'Y'
new_df.insert(new_df.columns.get_loc('Gender'), 'Over18', new_df.pop('Over18'))

# Encode categorical columns in the new data
for column in new_df.select_dtypes(include=['object']).columns:
    if column in label_encoders:
        new_df[column] = label_encoders[column].transform(new_df[column])

print(new_df)
# Make predictions
predicted_job_role = model.predict(new_df)

prediction_job = predicted_job_role[0]
print(f'The predicted job role is: {prediction_job}')

   Age  Over18  Gender  MaritalStatus  Education  EducationField  \
0   30       0       1              0          0               3

   NumCompaniesWorked  TotalWorkingYears  Department  MonthlyIncome  \
0                   1                  8           1          10000

   BusinessTravel  OverTime
0               0         1
The predicted job role is: Healthcare Representative